*.log
venv/
/Python_Scripts_Resulam_Phrasebooks_Audio_Processing/venv_phrasebook/

/Python_Scripts_Resulam_Phrasebooks_Audio_Processing/.ipynb_checkpoints/

*.txt
padded_audio_dir/
bilingual_sentences/
phrasebook_venv/
temp/
__pycache__/
.ipynb_checkpoints/
Github_Automation_Private/
!requirements_video_production.txt
!*english_french_phrasebook_sentences_list.txt

